<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>
  <%= f.input :name %></p>
  <%= f.input :email %></p>
  <%= f.input :password %></p>
  <%= f.input :password_confirmation %></p>

  <p><%= f.button :submit %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
