= simple_form_for [:admin, meeting] do |f|
  = f.input :date
  = f.input :title
  = f.input :description
  = f.input :published
  = f.association :presenters, :as => :check_boxes
  = f.submit 'Сохранить'
