= link_to 'Добавить встречу', new_admin_meeting_path

- @meetings.each do |meeting|
  = show_for meeting do |m|
    = m.attribute :title, :label => false
    = m.attribute :date, :format => :short

    = link_to 'Изменить', edit_admin_meeting_path(meeting)
